<div class="login">

    <div >
        <div class="logado col-xs-3 col-sm-3 col-md-3 col-lg-3" style="display: none;">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="#" class="thumbnail">
                    <img data-src="#" alt="thumbnail" class="img-circle">
                </a>
            </div>
                        
            <a class="btn btn-danger" href="#">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Sair
            </a>
        </div>
        <div class="naologado col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-default btn-social btn-google">
                <span class="fa fa-google"></span> Logar com sua conta da Google
            </a>
        </div>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js">

</script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDUPI8EeGNbjbpRZqtToZOa9A7bBXK3nEw",
        authDomain: "dbo-2017.firebaseapp.com",
        databaseURL: "https://dbo-2017.firebaseio.com",
        projectId: "dbo-2017",
        storageBucket: "dbo-2017.appspot.com",
        messagingSenderId: "701231331881"
    };
    firebase.initializeApp(config);

</script>
<script src="js/index.js"></script>